".source.js, .source.jsx, .source.ts":
  'React: component':
    'prefix': 'component'
    'description': 'React component template'
    "leftLabelHTML": "component"
    "rightLabelHTML": "React"
    'body': """
        import React from 'react';

        const Component = ({}) => {
          return (
            <div>
     
            </div>
          )
        }
    """
