".source.js, .source.jsx, .source.ts":
  'React Redux':
    'prefix': 'react-component'
    'description': 'React Redux Component'
    'body': """
        import React,{Component} from 'react';

        export default class ${1:Class} extends Component {

            render() {
                return (
                    <div className="${2:class-name}">
                        ${3:content}
                    </div>
                );
            }
        }
    """
