".source.js, .source.jsx, .source.ts":
  'React: container':
    'prefix': 'container'
    'description': 'React container template'
    "leftLabelHTML": "container"
    "rightLabelHTML": "React"
    'body': """
        import {connect} from 'react-redux'

        const mapStateToProps = (state) => ({
            
        })

        const mapDispatchToProps = (dispatch) => ({
          
        })

        export default connect (mapStateToProps,mapDispatchToProps)(Component);

    """
