'.source.js':
  'React Redux':
    'prefix': 'react-container'
    'description': 'React Redux Container'
    'body': """
        import React,{Component} from 'react';
        import {connect} from 'react-redux';
        import {bindActionCreators} from 'redux';

        class ${1:Class} extends Component {

            constructor(props){
                super(props);
                this.state = {};
            }

            render() {
                return (
                    <div className="${2:class-name}">
                        ${3:content}
                    </div>
                );
            }
        }

        function mapStateToProps({}){
            return {};
        }

        function mapDispatchToProps(dispatch){
            return bindActionCreators({},dispatch);
        }

        export default connect (mapStateToProps,mapDispatchToProps)(Index);

    """
