".source.js, .source.jsx, .source.ts":
  'React Redux':
    'prefix': 'react-reducer'
    'description': 'React Redux Reducer'
    'body': """
        import {${1:ACTION}} from '../actions/index';

        const initialState = ${2:initialState}

        export default function(state = initialState,action) {
            switch (action.type){
                case ${3:ACTION}:
                    return ${4:action.payload}
            }
            return state;
        }

    """
