".source.js, .source.jsx, .source.ts":
  'React: reducer':
    'prefix': 'reducer'
    'description': 'Reducer template'
    "leftLabelHTML": "reducer"
    "rightLabelHTML": "React"
    'body': """
        const initialState = {}

        const Reducer = (state = initialState, action) => {
          switch (action.type){
            case "":
              return 
            default:
              return state
          }  
        }
        export default Reducer
    """
